<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Select A New Best Friend:</h3>

    <form class="form new-dog-form">
      <div class="form-group">
        <label for="dog-name">Dog Name:</label>
        <input class="form-input" type="text" id="dog-name" name="dog-name" />
      </div>
      <div class="form-group">
        <label for="dog-type">Select Breed of Dog:</label>
        <input class="form-input" type="text" id="dog-type" name="dog-type" />
      </div>
      {{!-- <div class="form-group">
        <label for="dog-desc">description:</label>
        <textarea class="form-input" id="dog-desc" name="dog-desc"></textarea>
      </div> --}}
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if dogs.length}}
  <div class="col-md-6 dogs-list">
    <h3>Current Canines:</h3>

    {{#each dogs as |dogs|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/dogs/{{dogs.id}}">{{dogs.dog_name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{dogs.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./dog.js"></script>
