<div class="row mt-4 w-75 h-100">
  <div class="shadow p-5 bg-white rounded w-100 h-100">
    {{#if dogs.length}}
    <div class="col-md-6 canine-list">
    <h3>Current Canines:</h3>

    {{#each dogs as |dogs|}}
    <div class="row mb-2">
      <div class="col-md-8 dog-name">
        <h4><a href="/dogs/{{dogs.id}}">{{dogs.dog_name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{dogs.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
    </div>
    {{else}}
    <h3>No dogs were found in your favorites.</h3>
    {{/if}}
  </div>
</div>