:root {
  --color-1: #a96e42;
  --color-2: #d8dfe5;
  --color-3: #807f46;
  --color-4: #9baaaf;
  --color-5: #44433e;
}

header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

nav ul {
  list-style: none;
  font-size: 20px;
  display: inline-block;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}



.FrenchBully img {
  position: absolute;
  top: 42%;
  right: 42%;
  width: 300px;
  height: 250px
  
}

.Corgi {
  padding-left: 10%;
}

footer {
  background-color: var(--color-1);
  margin-bottom: 1px;
  display: flex;
  justify-content: center;
  
}

.heartButton {
  padding-top: 2%;
  
}

.contributors {
  font-weight: 500;
 
}

.conNames a {
  display: inline-block;
  padding: 0 10px 40px 10px

}



.row {
  padding-left: 30px;
}

@media (max-width: 1900px) {
  footer {
   margin-top: 24.3%;
  }
}

@media (max-width: 1600px) {
  footer {
   margin-top: 60%;
  }
}

@media (max-width: 1200px) {
  footer {
   margin-top: 50%;
  }
  .Corgi img {
    position: absolute;
    top: 75%;
    right: 37%;
    width: 350px;
    height: 350px;
  }
  
}

@media (max-width: 1100px) {
  
  footer {
   margin-top: 50%;
  }
  .FrenchBully img {
    position: absolute;
    right: 37%;
  }
  .Corgi img {
    position: absolute;
    top: 80%;
    right: 40%;
    width: 250px;
    height: 250px;
  }
}




@media (max-width: 845px) {
  footer {
   margin-top: 60%;
  }
  .FrenchBully img {
    width: 250px;
    height: 200px;
    position: absolute;
    right: 35%;
  }
  .Corgi img {
    position: absolute;
    top: 80%;
    right: 35%;
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 767px) {
  
  .Corgi img {
    position: absolute;
    top: 110%;
    right: 35%;
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 575px) {
  
  .Corgi img {
    position: absolute;
    top: 100%;
    right: 30%;
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 515px) {
  
  .Corgi img {
    position: absolute;
    top: 100%;
    right: 30%;
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 500px) {
  .Corgi img {
    position: absolute;
    top: 110%;
    right: 30%;
    width: 200px;
    height: 200px;
  }
}


@media (max-width: 420px) {
  footer {
   margin-top: 65%;
  }
  .FrenchBully img {
  
    position: absolute;
    top: 50%;
    right: 25%;
  }
  .Corgi img {
    position: absolute;
    top: 110%;
    right: 30%;
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 380px) {
  .FrenchBully img {
  
    position: absolute;
    top: 65%;
    right: 25%;
  }
}